<div class="row">
  <% @users.each do |user| %>
    <div class="col-12 text-center p-3 .bg-light">
      <%= render user %>
    </div>
  <% end %>
  <% if !@users.first.present? %>
    No users found
  <% end %>
</div>