<div id="<%= dom_id post %>" class="post-container">
  <% post.images.each do |img| %>
    <%= image_tag(img, style: 'object-fit: cover; width: 100px; height: 100px;') %>
  <% end %>
  <p>
    <%= link_to "", post, class: 'post-link' %>
  </p>
</div>
<p>
  <%= link_to post.user.email, post.user %>
</p>
