<%= stylesheet_link_tag('post') %>
<p class="text-success"><%= notice %></p>

<div id="posts" class="text-center">
  <% @posts.each do |post| %>
    <%= render 'posts/feed_post', post: post %>
  <% end %>
</div>
