
<%= stylesheet_link_tag('post') %>
<p class="text-success"><%= notice %></p>
<div class="row">
  <div class="col-6 offset-3">
    <div id="posts" class="d-flex">
      <% @posts.each do |post| %>
        <%= render 'posts/feed_post', post: post %>
      <% end %>
    </div>
  </div>
</div>

